<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Claim Checker</title>
</head>
<body>
    <center>
        <h1>Enter Emirates ID Information</h1>
        {% if message %}
            <p class="error-message">{{ message }}</p>
        {% endif %}
        <form action="/submit-id-info" method="post">
            <label for="idNumber">ID Number:</label><br>
            <input type="text" name="idNumber" required><br>

            <label for="fullName">Full Name:</label><br>
            <input type="text" name="fullName" required><br>

            <label for="nationality">Nationality:</label><br>
            <input type="text" name="nationality" required><br>

            <label for="dob">Date of Birth:</label><br>
            <input type="date" name="dob" required><br>

            <input type="submit" value="Submit">
        </form>
    </center>
</body>
</html>
